.dark-mode{
    background:#0f172a !important;
    color:white;
}

.dark-mode .navbar-custom,
.dark-mode .stat-card,
.dark-mode .chart-card{
    background:#1e293b;
    color:white;
}

.dark-mode .stat-title{
    color:#cbd5e1;
}